body {
  font-family: Arial;
  padding: 10px;
  background: grey;
}

h1 {
  width: 100%;
  height: 150px;
  text-align: center;
  padding-top: 40px;
  background-image: url('https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg');
  color: white;
  Text-shadow: 3px 2px black;
  Background-size: 100% 639.6px;
  margin-bottom: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

img {
  border: 3px solid black;
}

.nav-item {
  margin-left:10px;
}



.card {
  margin: 25px 0px 25px 0px;
  padding: 15px;
  border-radius: 15px;
  border: 5px solid black;
}

.article-image {
  overflow:hidden;
  height: 13%;
  width: 60%;
  margin-bottom: 10px;
}

#profile_picture {
  height: 100px;
  width: 100px;
  margin: 5px 0 5px 0;
}

.music-link {
  list-style-type: none;
  position: relative;
  right: 40px;
}
